{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}
   Travel Site
{% endblock title %}

{% block content %}
<div class="card-group">
   <div class="card">
     <img src="{% static 'accounts/DSC00812.jpg' %}" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">New Orleans a Fine place to eat.</h5>
       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     </div>
     <div class="card-footer">
       <small class="text-muted">Last updated 3 mins ago</small>
     </div>
   </div>
   <div class="card">
     <img src="{% static 'accounts/DSC00806.jpg' %}" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Jazz Fest 2015</h5>
       <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     </div>
     <div class="card-footer">
       <small class="text-muted">Last updated 3 mins ago</small>
     </div>
   </div>
   <div class="card">
     <img src="{% static 'accounts/DSC00829.jpg' %}" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Buggy Ride New Orleans</h5>
       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
     <div class="card-footer">
       <small class="text-muted">Last updated 3 mins ago</small>
     </div>
   </div>
 </div>
{% endblock content %}

